*{
    margin:0;
}
body {
    font-family: Arial, sans-serif;
    background-color:gray;
}
.container{
    width:400px;
    height:700px;
    
    
form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}
